<a href="https://colab.research.google.com/github/hyerin20250148/4variable_5annotation.ipynb/blob/main/54%2C55.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
solarsys=['태양','수성','지구','화성','목성','토성','천왕성','해왕성']
for i, body in enumerate(solarsys):
  print(f'태양계의{i}번째 천체:{body}')

태양계의0번째 천체:태양
태양계의1번째 천체:수성
태양계의2번째 천체:지구
태양계의3번째 천체:화성
태양계의4번째 천체:목성
태양계의5번째 천체:토성
태양계의6번째 천체:천왕성
태양계의7번째 천체:해왕성

In [ ]:
seasons=['봄','여름','가을','겨울']
print(list(enumerate(seasons,start=1)))

[(1, '봄'), (2, '여름'), (3, '가을'), (4, '겨울')]

In [ ]:
print(list(enumerate(seasons,start=1)))

[(1, '봄'), (2, '여름'), (3, '가을'), (4, '겨울')]

In [ ]:
for i in reversed(range(1,6)):
  print(i)

5
4
3
2
1